.custom-pane {
    -fx-background-color: #ffffff;
}

.custom-button1 {
    -fx-background-color: #46e256;
    -fx-text-fill: #ffffff;
}
.custom-button2 {
    -fx-background-color: #ff6b81;
    -fx-text-fill: #ffffff;
}
.custom-button3 {
    -fx-background-color: #4ac4f8;
    -fx-text-fill: #ffffff;
}
.custom-button1:hover {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #46e256;
    -fx-scale-y: 1.1;
}
.custom-button2:hover {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #ff6b81;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.custom-button3:hover {

    -fx-background-color: #e0e0e0;
    -fx-text-fill: #4ac4f8;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.custom-toggle-button {
    -fx-background-color: #e0e0e0;
}
.custom-toggle-button: hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.custom-sound-toggle-button {
    -fx-background-color: #f5f5f5
}
.custom-sound-toggle-button: hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
